/**
* Default branding styling
*/

$primary:#E35383;
$secondary:#FEC327;
$back: #FFF;
$back-sec: #F5F5F5;
$back-footer: #3D3D3D;
$error: rgb(220, 0, 0);
$success: rgb(0, 189, 0);

/**
* Base font families
*/

$font-default: 'Lato', sans-serif;
$font-title: 'Bree Serif', serif;

/**
 * Text related variables
 */

$font-size-base: 1rem !default;
$font-size-ratio: 1.2 !default;
$font-weight-base: 400 !default;
$line-height-base: 1.618 !default;

/**
* Size variables
*/

$small-gap: 16px;
$medium-gap: 25px;
$large-gap: 32px;
$huge-gap: 50px;
$extreme-gap: 100px;

/**
* Number variables
*/

$infinty: 21474836.47px;