/**
* Default branding styling
*/

$primary:#B7D1A2;
$secondary:#9DC080;
$back: #FFF;
$back-sec: #F6EEE3;
$error: rgb(220, 0, 0);
$success: rgb(0, 189, 0);

/**
* Base font families
*/

$font-default: 'Arial';
$font-site-title: 'Arial';
$font-site-subtitle: 'Arial';
$font-site-subtitle-bold: 'Arial';
$font-section-title: 'Arial';

/**
 * Text related variables
 */

$font-size-base: 1rem !default;
$font-size-ratio: 1.2 !default;
$font-weight-base: 400 !default;
$line-height-base: 1.618 !default;

/**
* Size variables
*/

$small-gap: 16px;
$medium-gap: 25px;
$large-gap: 32px;
$huge-gap: 50px;
$extreme-gap: 100px;

/**
* Number variables
*/

$infinty: 21474836.47px;