.slideup {
    transform: translateY(30px);
    transition: transform ease-out .2s;
}
.fadein {
    opacity: 0;
    transition: opacity ease-out .2s;
}
.fadein-slideup {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity ease-out .8s, transform ease-out .4s;
}

@keyframes slideFromBottom {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
}