footer {
    background-color: $back-footer;
    color: #FFF;
    padding: 60px 0;
    margin: 0;


    .contents {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & > div {
            display: flex;
            flex-direction: column;
    
            max-width: 300px;
        }
    
        .footer__title {
            font-family: $font-title;
            font-size: 26px;
        }
        .footer__content {
            color: #E2E2E2;
        }

        .footer__link {
            color: #E2E2E2;
            &-text {
                padding: 0;
            }
        }
    
        .footer__copyright {
            width: 100%;
            text-align: center;
            color: #7E7E7E;
        }
    }

}