.header {
    display: flex;
    align-items: center;
    color: #767676;
    padding: 20px 0;
    margin: 0;

    width: 100%;

    &__logo {
        height: auto;
        width: 50px;
        object-fit: cover;
        margin-right: auto;
    }

    .menu__link {
        position: relative;
        text-decoration: none;
        font-weight: 500;
        color: #767676;
        overflow: hidden;
        @media screen and (min-width: 1000px) {
            margin-right: $huge-gap;
        }
        transition: color ease .2s, transform ease .2s;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 3px;
            background: #DA1A5A;
            transform: scale(0, 1);
            transform: translate(101%, 0);
            transition: transform .2s;
        }

        &:hover,
        &:focus {
            &::after {
                transform: scale(1);
                color: #000;
            }
        }
    }

    &__shoppingcart {
        position: relative;
        &__image {
            height: 50px;
            width: 50px;
            @media screen and (min-width: 1000px) {
                // margin-left: 20px;
            }
        }

        &__number {
            position: absolute;
            top: 3px;
            right: -5px;
            border-radius: 50%;
            background: #ff7ea9;
            color: #fff;
            font-size: .9x;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .desktop-menu {
        display: none;
        align-items: center;
    }

    .mobile-menu {
        display: flex;
        &__nav {
            z-index: 99;

            position: absolute;
            top: 0;
            right: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;

            background: #da1a5a;
            a {
                color: #fff;
                font-size: 6vw;
                margin: 30px 0;
                &:not(:first-child):not(:last-child) {
                    margin: 30px 0;
                }
            }
        }
    }
    

    // Mobile menu events
    #nav-checkbox:checked ~ .mobile-menu__nav {
        display: flex;
    }

    #nav-checkbox:checked ~ .hamburger-menu {
        div {
            &:nth-child(1) {
                transform: translateY(15px) rotate(-225deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(15px) rotate(225deg);
            }
        }
    }

    .hamburger-menu {
        z-index: 9999;

        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;

        div {
            border: none;
            position: absolute;
            height: 6px;
            border-radius: 5px;
            width: 100%;
            background: #000;
            transition: transform .3s;
            &:nth-child(1) {
                transform: translateY(0px);
            }
            &:nth-child(2) {
                transform: translateY(15px);
            }
            &:nth-child(3) {
                transform: translateY(30px);
            }
        }
    }

    @media screen and (min-width: 1200px) {
        .desktop-menu {
            display: flex;
        }

        .mobile-menu {
            display: none;
        }
    }
}