.header {
    color: #767676;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 0;
    max-width: 1400px;
    width: 100%;

    & > div {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logo {
        height: auto;
        width: 50px;
        object-fit: cover;
        margin-right: auto;
    }

    .menu__link {
        position: relative;
        text-decoration: none;
        font-weight: 500;
        color: #767676;
        overflow: hidden;
        transition: color ease .2s, transform ease .2s;
        @media screen and (min-width: 800px) {
            margin-right: 50px;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                border-radius: 3px;
                background: #DA1A5A;
                transform: scale(0, 1);
                transform: translate(101%, 0);
                transition: transform .2s;
            }

            &:hover,
            &:focus,
            &.route--active {
                &::after {
                    transform: scale(1);
                    color: #000;
                }
            }        }
    }

    &__shoppingcart {
        position: relative;
        margin-left: 20px;
        &__image {
            height: 50px;
            width: 50px;
            @media screen and (min-width: 1000px) {
                // margin-left: 20px;
            }
        }

        &__number {
            position: absolute;
            top: 3px;
            right: -5px;
            border-radius: 50%;
            background: #ff7ea9;
            color: #fff;
            font-size: .9x;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .desktop-menu {
        display: none;
        align-items: center;
    }

    .mobile-menu {
        overflow: hidden;
        display: flex;
        &__nav {
            position: fixed;
            top: 0;
            right: -1px;
            background: #313131;
            display: flex;
            flex-direction: column;
            height: 100%;
            min-width: 230px;
            max-width: 300px;
            width: 100%;
            transform: translate(100%, 0);
            transition: transform .1s ease-out;

            a {
                &:first-child {
                    margin-top: 64px;
                }

                font-size: 1em;
                padding: 20px 30px;
                box-sizing: border-box;
                color: #fff;
                text-decoration: none;
                &.route--active {
                    background: #575757;
                }
                &.shoppingcart-link {
                    display: flex;
                    align-items: center;
                    img {
                        margin-left: auto;
                        background: #fff;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        padding: 4px;
                    }
                }
            }
        }
    }

    .hamburger-menu {
        z-index: 9999;

        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;

        div {
            border: none;
            position: absolute;
            height: 6px;
            border-radius: 5px;
            width: 100%;
            background: #000;
            transition: transform .3s;
            &:nth-child(1) {
                transform: translateY(0px);
            }
            &:nth-child(2) {
                transform: translateY(15px);
            }
            &:nth-child(3) {
                transform: translateY(30px);
            }
        }
    }

    #nav-checkbox:checked ~ .mobile-menu__nav {
        transform: translate(0);
    }

    #nav-checkbox:checked ~ .hamburger-menu {
        div {
            background: #fff;
            &:nth-child(1) {
                transform: translateY(15px) rotate(-225deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(15px) rotate(225deg);
            }
        }
    }

    @media screen and (min-width: 800px) {
        .desktop-menu {
            display: flex;
        }

        .mobile-menu {
            display: none;
        }
    }

    @media screen and (max-width: 800px) {
        position: sticky;
        z-index: 9999;
        top: 0;
        padding-top: 0;
        
        &__logo {
            width: 30px;
        }
    }
}