// box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.17);
.homepage {
    .section__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $extreme-gap;
        background-color: $back;
        text-align: center;
        .main__image {
            width: 100%;
            height: 275px;
            object-fit: cover;
        }
        .main__title {
            font-family: $font-title;
            font-size: 30px;
            color: #585858;
            margin-bottom: $small-gap;
        }
        .main__description {
            color: #707070;
            margin-bottom: $small-gap;
        }
        .wooks__button-link {
            text-decoration: none;
        }
        .wooks__button {
            display: block;
            margin: 0 auto;
            margin-bottom: $small-gap;
        }
        .main__signin {
            color: #707070;
        }
    }
    .section__reasons {
        background-color: $back-sec;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $huge-gap;
        .reasons__reason {
            color: #707070;
            .reason__image {
                width: 100%;
                height: 200px;
                object-fit: cover;
                margin-bottom: 8px;
            }
            .reason__reason {
                font-family: $font-title;
                font-size: 25px;
                margin-bottom: 8px;
            }
            .reason__explained {
                font-size: 16px;
            }
        }
    }
}