.woocommerce-MyAccount-navigation-link--downloads {
    display: none;
}

.auth-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 10vh 0 20vh 0 !important;
    @media screen and (max-width: 1000px) {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}

.my-account {
    @media screen and (min-width: 1000px) {
        margin-left: 30px;
    }
    .section__info { //General element
        max-width: 500px;
        @media screen and (min-width: 1000px) {
            margin-right: auto;
        }
        width: 100%;
        .info__subtitle {
            font-family: $font-title;
            font-size: 26px;
            color: #585858;
        }
        .info__title {
            font-family: $font-title;
            font-size: 30px;
            color: #000;
            margin-bottom: $small-gap;
        }
        .info__line {
            width: 50%;
            @media screen and (min-width: 1000px) {
                margin-left: 0;
            }
            border: solid 1.5px $primary;
            border-radius: $infinty;
        }
        .info__text {
            color: #707070;
            @media screen and (min-width: 1000px) {
                width: 75%;
            }
        }
    }
    .section__form { //General element
        width: 100%;
        max-width: 450px;
        @media screen and (max-width: 1000px) {
            margin-top: 40px;
        }
        .woocommerce-privacy-policy-text {
            color: #707070;
            @media screen and (min-width: 1000px) {
                width: 75%;
            }
            margin: $small-gap 0;
        }

        button[type=submit] {
            margin: 40px 0 10px 0;
            @media screen and (max-width: 1000px) {
                margin: 40px auto 10px auto;
            }
        }
    }
}

.logged-in.woocommerce-account {
    main {
        max-width: 1400px;
        box-sizing: border-box;
        margin: 50px 0 100px;
        @media screen and (max-width: 1430px) {
            padding: 0 20px;
        }
        @media screen and (min-width: 1400px) {
            width: 100%;
        }
    }
    .woocommerce {
        @media screen and (min-width: 1000px) {
            display: grid;
            grid-template-columns: 25% 75%;
            grid-gap: $huge-gap;            
        }
    }
    .woocommerce-MyAccount-navigation {
        a {
            text-decoration: none;
            color: #FFF;
            font-family: $font-title;
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 16px 0;
        }
        li {
            position: relative;
            background-color: #545454;
            text-align: center;
            transition: background-color ease .3s;
            @media screen and (min-width: 1400px) {
                margin-bottom: $medium-gap;       
            }
        }
        li.is-active {
            background-color: #B5194D;
        }
        li:hover {
            background-color: darken(#545454, 5%);
        }
        li:active {
            background-color: darken(#545454, 10%);
        }
        .woocommerce-MyAccount-navigation-link--customer-logout {
            background-color: #FFF;
            a {
                color: #000;
            }
            a:before {
                content: "< ";
            }
        }
        .woocommerce-MyAccount-navigation-link--customer-logout:hover {
            background-color: #FFF;
        }
        .woocommerce-MyAccount-navigation-link--customer-logout:active {
            background-color: #FFF;
        }
    }
    .woocommerce-MyAccount-content {
        box-sizing: border-box;
        box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.17);
        @media screen and (min-width: 1400px) {
            margin-right: 50px;
        }
        margin-bottom: $huge-gap;
        height: 100%;
        .welcome {
            padding: $huge-gap;
            padding-bottom: 10px;
        }

        .welcome-msg {
            font-size: 30px;
            margin-bottom: $small-gap;
            color: #000;
            font-family: $font-title;
            margin-right: $medium-gap;
            display: inline-block;
            text-transform: capitalize;
        }
        .login-verify {
            display: inline-block;
        }
        hr {
            margin-top: 0;
            max-width: 96px;
        }
        .dashboard-info {
            max-width: 550px;
            color: rgb(36, 36, 36);
            padding: 0px 50px 40px 50px;
            a {
                color: #000;
            }
        }
    }
    .woocommerce-orders-table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        @media screen and (max-width: 900px) {
            font-size: 11px;
        }
    }
    
    .woocommerce-orders-table th {
        background-color: #3D3D3D;
        color: #FFF;
        font-weight: normal;
    }
    .woocommerce-orders-table td, .woocommerce-orders-table th {
        border: 1px solid #3D3D3D;
        padding: 8px;
        text-align: center;
    }
      
    .woocommerce-orders-table tr:nth-child(even) {
        background-color: #f7f7f7;
    }
    .woocommerce-orders-table__cell-order-actions a {
        display: inline-block;
        color: #000;
        height: auto;
        margin: 0 3px;
    }
    .woocommerce-orders-table__cell-order-actions a::after {
        content: '';
        display: none;
    }
    .woocommerce-orders-table__cell-order-number a {
        color: #000;
    }

    button {
        background-color: $primary;
        background: #E35383;
        color: #FFF;
        padding: 10px 0 10px 30px;
        border-radius: 3px;
        border: none;
        box-shadow: 0 5px 0px 0 rgba(184,56,99,1);
        font-family: $font-title;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 24px;
        transition: background-color ease .2s, transform ease .2s;
        margin-top: $small-gap;
    }
    button:hover {
        background-color: darken($color: $primary, $amount: 3%);
        transform: scale(.985);
    }
    button:active {
        background-color: darken($color: $primary, $amount: 6%);
        transform: scale(.965);
    }
    button::after {
        content: url("./images/icons/triangle_white.svg");
        background-color: #BA1A5A;
        object-fit: cover;
        padding: 10px 20px;
        height: 30px;
        width: 30px;
        margin-left: 30px;
        box-shadow: 0 5px 0px 0 rgba(121,31,67,1);
    }
    input, select {
        background-color: #FFF;
        color: #000;
        padding: 9px 12px;
        border-radius: 3px;
        border: solid 1px #C4C4C4;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 26px;
        width: 75%;  
        @media screen and (max-width: 1500px) {
            width: 80%;
            font-size: 14px;
        }
    }
    select {
        width: calc(75% + 25px);
    }
    label {
        display: block;
        margin-bottom: $smaller-gap;
    }
    
    em, legend {
        display: none;
    }
}
.woocommerce-edit-address {
    p {
        font-family: $font-title;
        color: #9F9F9F;
    }
    .woocommerce-Address {
        margin: 0 10px;
        box-sizing: border-box;
        @media screen and (min-width: 1400px) {
            display: inline-block;
            margin-right: $huge-gap;
            width: 25%;
        }
    }
    .woocommerce-Address-title {
        h3 {
            font-family: $font-title;
            padding: $small-gap 0;
            border-bottom: $primary 2px solid;
            margin-bottom: $small-gap;
        }
        a {
            color: #000;
            margin-bottom: $small-gap;
            display: block;
        }
    }
    address {
        font-family: $font-title;
        font-style: normal;
        line-height: 23px;
    }
}
.woocommerce-view-order {
    mark {
        background-color: transparent;
    }
    section {
        padding: $small-gap 0;
        
    }
    table {
        width: 100%;
    }
}
.woocommerce-order-received {
    .woocommerce-thankyou-order-received {
        margin-bottom: $medium-gap;
    }
    section {
        padding: $small-gap 0;
    }
    table {
        width: 69%;
    }
}

.woocommerce-EditAccountForm {
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
}