html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

p, h1, h2, h3, a {
    font-family: $font-default;
    font-size: 18px;
    @media screen and (max-height: 800px) {
        font-size: 16px;
    }
    letter-spacing: .818px;
    line-height: 1.4;
    padding: 5px 0;
}

section {
    display: block;
    margin: 0 auto;
    max-width: 1250px;
    padding: 0 10vw;
}

section {
    padding: 100px 10vw;
}

.error {
    color: red;
}

.success {
    color: green;
}

.required {
    color: red;
    text-decoration: none;
}
abbr[title] {
    border-bottom: none;
}

.search__error {
    font-size: 1.5em;
    text-align: center;
    grid-column: 1/5;
    margin-top: 3em;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.error__page {
    .page__error {
        text-align: center;
        padding: 27.5vh 0 0 0;
        font-family: $font-title;
        font-size: 50px;
    }
    .page__error-link {
        text-align: center;
        font-family: $font-title;
        font-size: 50px;
        color: #333;
    }
    .page__error-text {
        padding: 16px 0 27vh 0;
    }
}

.wooks__button {
    background-color: $primary;
    background: #E35383;
    color: #FFF;
    padding: 10px 0 10px 30px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 5px 0px 0 rgba(184,56,99,1);
    font-family: $font-title;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    transition: background-color ease .2s, transform ease .2s;
}
.wooks__button:hover {
    background-color: darken($color: $primary, $amount: 3%);
    transform: scale(.985);
}
.wooks__button:active {
    background-color: darken($color: $primary, $amount: 6%);
    transform: scale(.965);
}
.wooks__button::after {
    content: url("./images/icons/triangle_white.svg");
    background-color: #BA1A5A;
    object-fit: cover;
    padding: 10px 20px;
    height: 20px;
    width: 20px;
    margin-left: 30px;
    box-shadow: 0 5px 0px 0 rgba(121,31,67,1);
}

.wooks__button--cta {
    background-color: $secondary;
    box-shadow: 1px 5px 0px -1px rgba(216,170,78,1);
}
.wooks__button--cta:hover {
    background-color: darken($color: $secondary, $amount: 3%);
}
.wooks__button--cta:active {
    background-color: darken($color: $secondary, $amount: 6%);
}
.wooks__button--cta::after {
    background-color: #DBA028;
    box-shadow: 1px 5px 0px -1px #c79125;
}

.wooks__field {
    background-color: #FFF;
    color: #000;
    padding: 9px 12px;
    border-radius: 3px;
    border: solid 1px #C4C4C4;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    width: 75%;
}
.wooks__label {
    display: block;
    margin-bottom: $smaller-gap;
}
.wooks__label .required {
    color: red;
}

.wooks__title {
    font-family: $font-title;
    font-size: 30px;
    color: #000;
    margin-bottom: $small-gap;
}
.wooks__subtitle {
    font-family: $font-title;
    font-size: 27px;
    color: #707070;
    margin-bottom: $small-gap;
}
.wooks__line {
    border: solid 1px $primary;
    width: 20%;
    margin: $medium-gap 0;
}

/* Modifiers */

// Links
.no-decoration {
    text-decoration: none !important;
}

// Button
.button {
    display: flex;
    align-items: center;
    position: relative;

    border: none;
    background: none;

    color: #fff;
    height: 50px;
    padding: 0;

    font-family: $font-title;

    box-sizing: border-box;
    outline: none;
    transition: background .3s ease-out;

    span {
        padding: 0 30px;
    }

    &::after {
        content: url("./images/icons/triangle_white.svg");
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
    }

    &--primary {
        background: linear-gradient(to right, #DBA028 30%, #FEC327 10%, #F8D26B);
        background-size: 300% 100%;
        background-position-x: -300px;
        box-shadow: 0 5px 0px 0 rgb(190, 149, 67);
        &::after {
            background: #DBA028;
        }

        &:hover,
        &:focus {
            background-position-x: 0px;
        }
    }

    &--secondary {
        background: #E35383;
        box-shadow: 0 5px 0px 0 rgb(126, 38, 68);

        background: linear-gradient(to right, #BA1A5A 30%, #E35383 10%);
        background-size: 300% 100%;
        background-position-x: -300px;
        &::after {
            background: #BA1A5A;
        }

        &:hover,
        &:focus {
            background-position-x: 0px;
        }
    }
}